{% extends 'base.html.twig' %}

{% block title %}Envoi du mail pour changement de mot de passe!{% endblock %}

{% block body %}
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}

        <button type="submit">Modifier le mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
