{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Dashboard admin</h1>
    <a href="{{ path('app_accueil') }}"
       class="btn btn-primary">
        ← Retour à l’accueil
    </a>
{% endblock %}