@use "../abstract/variable" as v;


*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

main {
  background-color: v.$septenaryColor;
}

.container {
    width: 70%;
    padding: 20px 0;
}

.bgsections {
    background-color: v.$tertiaryColor;
}

// ***** HEADER NAV ***** //
header {
    display: flex;
    justify-content: center;
}

.headercontain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.2em;
}

.logo img {
    height: 90px;
    width: 90px;
}

.links-menu ul {
    list-style: none;
    display: flex;
    gap: 3em;
    align-items: center;
}

.links-menu ul li,
.navfooter {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.links-menu ul li a,
.navfooter ul li a  {
    display: inline-block;
    transition: transform 0.2s ease;
    color: v.$secondaryColor;
}

.links-menu ul li a:hover,
.navfooter ul li a:hover {
    transform: scale(1.1);
}

.menu-line {
    width: 40px;
    border: 2px solid v.$secondaryColor;
    border-radius: 10px;
}

.menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 0.60em;
}



// ***** FOOTER NAV ***** //

footer {
  display: flex;
  justify-content: center;
}

.footerorientation {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.footercontain{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listfooter {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.socials a {
  color: black;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

@media (max-width: 1020px) {

  .header {
    position: relative;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    cursor: pointer;
  }

  .links-menu {
    position: absolute;
    top: 9em;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .links-menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: v.$tertiaryColor;
    gap: 0;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;

  }

  .links-menu.nav-menu ul {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
  }

  .links-menu ul li {
    padding: 1.2em 0;
    border-bottom: 2px solid v.$secondaryColor;
  }

  .container {
    width: 90%;
  }
}




@media (max-width: 500px) {
  .footercontain{
    flex-direction: column;
    gap: 2em;
  }

  .listfooter {
    align-items: center;
  }
  .socials {
    padding: 10px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}
