@use "../abstract/variable" as v;


*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

main {
  background-color: v.$septenaryColor;
}

.container {
    width: 70%;
    padding: 20px 0;
}

.bgsections {
    background-color: v.$tertiaryColor;
}

// ***** HEADER NAV ***** //
header {
    display: flex;
    justify-content: center;
}

.headercontain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.2em;
}

.logo img {
    height: 90px;
    width: 90px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3em;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a {
    display: inline-block;
    transition: transform 0.2s ease;
    color: v.$secondaryColor;
}

nav ul li a:hover {
    transform: scale(1.1);
}

.menu-line {
    width: 40px;
    border: 2px solid v.$secondaryColor;
    border-radius: 10px;
}

.menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 0.60em;
}

@media (max-width: 768px) {

  .header {
    position: relative;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    cursor: pointer;
  }

  nav {
    position: absolute;
    top: 7.2em;
    left: 0;
    right: 0;
    z-index: 3;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: v.$tertiaryColor;
    gap: 0;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s ease;
  }

  nav.nav-menu ul {
    transform: scaleY(1);
  }

  nav ul li {
    padding: 1.2em 0;
    border-bottom: 2px solid v.$secondaryColor;
  }

  .container {
    width: 90%;
  }
}
