@use "../abstract/variable" as v;
@use '../abstract/mixins';

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}



.container {
    width: 1033px;
}


p {
    font-family: v.$text-font;
}

h1, h2, h3, a {
    font-family: v.$title-font
}

.btn {
    @include mixins.button(v.$background-primary-color, v.$text-tertiary-color);
}

@media screen and (max-width: v.$medium) {
    p {
        font-size: v.$theme-text-mobile;
    }

    .btn {
        font-size: v.$theme-text-mobile;
    }
    .container {
        width: 646px;
    }
}

