{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <main>
        <section class="hero">
            <div class="herotitle">
                <h1>Culimiam</h1>
                <h2>simple, bon, miam</h2>
            </div>
            <div class="heroimg">
                <img src={{asset('images/poeleehero.png')}} alt="poelee paysanne">
            </div>
        </section>
    </main>
{% endblock %}
