{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <main>
        <section class="hero">
            <div class="herotitle">
                <h1>Culimiam</h1>
                <h2>simple, bon, miam</h2>
            </div>
            <div class="heroimg">
                <img src={{asset('images/poeleehero.png')}} alt="poelee paysanne">
            </div>
        </section>
        <section class="presentaion">
            <div class="container">
                <div>
                    <h2>Culimiam, des recettes simples et gourmandes</h2>
                    <div>
                        <p>
                            Ici, tu trouves des recettes testées et approuvées : rapides pour le quotidien,
                            généreuses pour les week-ends, et toujours expliquées étape par étape.
                            Filtre par type de repas, découvre les ingrédients et ajuste les quantités
                            selon le nombre de personnes.
                        </p>
                        <div class="presentationimg">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
