@use "../abstract/variable" as v;
@use "../abstract/mixin" as m;

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 15px 5px v.$septenaryColor;
}

.cardimg {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border-bottom: 2px solid v.$septenaryColor;
}

.cardimg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center; 
}

.cardtext {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px 10px 10px 10px;
}

.cardtextespace {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cardtyperepas {
    width: fit-content;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px;
}

.card h2 {
    font-size: 16px;
}

.carddescription {
    font-size: 14px;
}

.cardauteur {
    font-size: 13px;
}