@use "../abstract/variable" as v;
@use "../abstract/mixin" as m;



.detailbg {
    background-color: v.$secondaryColor;
    display: flex;
    justify-content: center;
}

.detaillayout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 1em;
}

.detailimg {
    width: 30rem;
    aspect-ratio: 1 / 1;
     flex: 0 0 30rem; 
}

.detailimg img {
    width: 100%;
    height: 100%;
}

.detailalltext {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailtitle {
    text-align: center;
}

.detailtext {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailtext p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.detailbtn {
    display: flex;
    gap: 20px;
}

.btnmodif {
    @include m.button(v.$secondaryColor, v.$quinaryColor, v.$quinaryColor);
    font-family: Arial, Helvetica, sans-serif;
}

.btndelete {
    @include m.button(v.$secondaryColor, v.$senaryColor, v.$senaryColor);
}

@media (max-width: 1250px) {
    .detaillayout {
        flex-direction: column;
    }

    .detailimg {
        align-self: center;
    }

    .detailbtn {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .detailimg {
        width: 100%;
        flex: 0; 
    }
}