@use "../abstract/variable" as v;
@use "../abstract/mixin" as m;

.inscription {
    background-color: v.$secondaryColor;
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.inscription h1 {
    text-align: center;
    padding-bottom: 0.7em;
}

.inscription .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inscriptionform {
    font-family: Arial, Helvetica, sans-serif;
}

.inscriptionspace form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 40em;
}

.inscriptionspace form .form-row {
    display: flex;
    flex-direction: column;
    color: v.$tertiaryColor;
    gap: 0.5em;
    font-weight: 700;
}

.inscriptionspace form .form-row input {
    height: 2em;
    padding: 0 10px;
}

.inscriptionspace form button {
    align-self: center;
    @include m.button(v.$quaternaryColor, v.$quaternaryColor, v.$tertiaryColor);
}

@media (max-width: 850px){
    .inscriptionspace form {
        width: 25em;
    }
}

@media (max-width: 425px){
    .inscriptionspace form{
        width: 20em;
    }

    .inscription h1 {
        font-size: 2em;
    }
}