@use "../abstract/variable" as v;
@use "../abstract/mixin" as m;

.login {
    background-color: v.$secondaryColor;
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.login h1 {
    text-align: center;
    padding-bottom: 0.7em;
}

.login .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginform {
    font-family: Arial, Helvetica, sans-serif;
}

.loginspace {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.logininputs {
    display: flex;
    flex-direction: column;
    color: v.$tertiaryColor;
    width: 40em;
    gap: 1.5em;
}

.logininput {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-weight: 700;
}

.logininput input {
    height: 2em;
    padding: 0 10px;
}

.loginbuttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.loginconnectbtn {
    @include m.button(v.$quaternaryColor, v.$quaternaryColor, v.$tertiaryColor);
}

.loginforgetbtn {
    @include m.button(v.$senaryColor, v.$senaryColor, v.$tertiaryColor);
    text-align: center;
}

@media (max-width: 850px){
    .logininputs {
        width: 25em;
    }
}

@media (max-width: 425px){
    .logininputs {
        width: 20em;
    }

    .login h1 {
        font-size: 2em;
    }
}