@use "../components/card" as c;
@use "../abstract/variable" as v;
@use "../abstract/mixin" as m;

.recettesmain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recetteshero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:    
        linear-gradient(
            to bottom,
            rgba(0,0,0,0.65),
            rgba(0,0,0,0.65)
        ), 
        url("../../../public/images/foodherorecipe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 2em 0;
}

.recettealignhero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    line-height: 1.7;
}

.herorecetteparagraph {
    color: v.$tertiaryColor;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
}


.addrecette {
    text-align: center;
    @include m.button(v.$quaternaryColor, v.$quaternaryColor, v.$tertiaryColor);
    font-family: Arial, Helvetica, sans-serif;
}

.layoutcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 40px 0;
}

.btnvoirplus {
    @include m.button(v.$tertiaryColor, v.$quaternaryColor, v.$quaternaryColor);
}

@media (max-width: 1400px) {
    .layoutcards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 970px) {
    .layoutcards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    .recettealignhero h1{
        font-size: 2em;
    }
}