@use "../abstract/variable" as v;
@use "../abstract/mixin" as m;

.request {
    background-color: v.$secondaryColor;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    min-height: 50vh;
}

.request h1 {
    text-align: center;
    padding-bottom: 0.7em;
}

.request .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requestform {
    font-family: Arial, Helvetica, sans-serif;
}

.requestspace {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.requestspace .form-row {
    display: flex;
    flex-direction: column;
    color: v.$tertiaryColor;
    gap: 0.5em;
    font-weight: 700;
}

.requestspace .form-row input {
    height: 2em;
    padding: 0 10px;
}

.requestbtn {
    align-self: center;
    @include m.button(v.$quaternaryColor, v.$quaternaryColor, v.$tertiaryColor);
}

@media (max-width: 850px){
    .requestform form {
        width: 25em;
    }

    .requestform {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 425px){
    .requestform form {
        width: 20em;
    }

    .request h1 {
        font-size: 2em;
    }
}
