@use "../abstract/variable" as v;

//BTN

@mixin button($bg-color, $border-color, $text-color) {
    box-sizing: border-box;
    padding: 10px 0;
    color: $text-color;
    font-size: 14px;
    font-weight: bold;
    width: 125px;
    border: 2px solid $border-color;
    background-color: $bg-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: background-color 0.4s ease, color 0.4s ease;

    &:hover {
        background-color: $text-color;
        color: $bg-color;
    }
}
