.mention-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
}

.legal-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.legal-section h2 {

}

.legal-section p {
    
}